.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.content {
  flex: 1;
  padding: 1rem;
  padding-block-end: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backButton {
  display: inline-block;
  padding-inline-end: 0.5rem;
  transition: transform 0.25s;
}

.backButtonCollapsed {
  transform: scale(0, 1);
}
